:root {
    --md-primary-fg-color: #7FFF00; /* Verde-limão para a barra de menus */
    --md-accent-fg-color: #000000; /* Preto para os botões */
    --md-typeset-a-color: #FFFFFF; /* Links brancos */
}

/* Garante que os botões fiquem visíveis */
.md-button {
    background-color: #000000 !important; /* Fundo preto */
    color: #FFFFFF !important; /* Texto branco */
    border: 2px solid #000000 !important; /* Borda preta */
}

/* Define fundo preto para os botões primários */
.md-button--primary {
    background-color: #000000 !important; /* Fundo preto */
    color: #FFFFFF !important; /* Texto branco */
}
