:root {
    --md-primary-fg-color: #7FFF00; /* Verde-limão para a barra de menus */
    --md-accent-fg-color: #000000; /* Preto para os botões */
    --md-typeset-a-color: #FFFFFF; /* Links brancos */
}

/* Botões padrão (fora da barra de navegação) */
.md-button {
    background-color: #000000 !important; /* Fundo preto */
    color: #FFFFFF !important; /* Texto branco */
    border: 2px solid #000000 !important; /* Borda preta */
}

/* Botões primários */
.md-button--primary {
    background-color: #000000 !important; /* Fundo preto */
    color: #FFFFFF !important; /* Texto branco */
}

/* Alterar os botões da barra de navegação */
.md-header__button, .md-tabs__link {
    background-color: #000000 !important; /* Fundo preto */
    color: #FFFFFF !important; /* Texto branco */
}

/* Quando o botão está ativo (selecionado) */
.md-tabs__link--active {
    background-color: #000000 !important;
    color: #FFFFFF !important;
}
