:root {
    --md-primary-fg-color: #228B22; /* Verde-limão para a barra de menus */
    --md-accent-fg-color: #FFFFFF; /* Branco para os botões */
    --md-typeset-a-color: #228B22 !important; /* Verde para os links com !important */
}

/* Altera a cor dos links normais para o verde */
a {
    color: #228B22 !important; /* Verde para os links */
}

/* Altera a cor dos links ao passar o mouse sobre eles */
a:hover {
    color: #006400 !important; /* Verde escuro (DarkGreen) no hover */
}

/* Garante que os botões fiquem visíveis */
.md-button {
    color: #FFFFFF !important;
    border: 2px solid #FFFFFF !important;
}

/* Define fundo branco para os botões */
.md-button--primary {
    background-color: #FFFFFF !important;
    color: #000000 !important; /* Texto preto nos botões */
}
