:root {
    --md-primary-fg-color: #228B22; /* Verde para a barra de menus */
    --md-accent-fg-color: #FFFFFF; /* Branco para os botões */
    --md-typeset-a-color: #228B22; /* Verde para os links no texto */
}

/* Links da barra de navegação */
.md-header-nav__link {
    color: #FFFFFF !important; /* Branco */
}

/* Links dentro do conteúdo da página */
.md-typeset a {
    color: var(--md-typeset-a-color) !important; /* Verde */
}

.md-nav__title {
    visibility: hidden;
    position: relative;
}

.md-nav__title::after {
    content: "Sumário"; /* Novo título */
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
}
